<!Doctype html> 
<html> 
        <head> 
                <title> Project Lads </title> 
        </head>

        <body>
                <div style="margin : auto ; width : 500px ; height : 500px;"> 
                        <h1> DATA COLLECTION </h1>
                        <form action="/collect" method="post"> 
                        <input name="name" style="display : block"> </input> 
                        <br/>
                        <input name="code" style="display : block"> </input> 
                        <br/>
                        <input name="phone" type="tel" style="display : block"> </input> 
                        <br/>
                        <input name="email" type="email" style="display : block"> </input> 
                        <br/>
                        <textarea name="address" style="display : block"> </textarea>
                        <br/>

                        <button  type="submit" style="width : 100px ; height : 50px ; display : block;"> SUBMIT </button>

                </form> 
                </div> 
        </body> 


</html> 

